.detalhes-pais{
  margin-top: 10%;
}
.detalhes-pais img{
  width: 100%;
  max-height: 450px;
}
.content-borders{
  align-items: center;
  flex-wrap: wrap;
}
.content-borders p {
  margin: 0px;
  padding: 5px;
}

@media (max-width: 778px) {
  .content-info2{
    margin-top: 20px;
    margin-bottom: 20px;
  }
 }
