<div class="container">
  <div class="row content">
    <app-search class="col-md-6" (emmitSearch)="filterPesquisa($event)"></app-search>
    <div class="dropdown col-md-6">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
       Filtrar por Região
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">África</a></li>
        <li><a class="dropdown-item" href="#">América</a></li>
        <li><a class="dropdown-item" href="#">Ásia</a></li>
        <li><a class="dropdown-item" href="#">Europa</a></li>
        <li><a class="dropdown-item" href="#">Oceania</a></li>
      </ul>
    </div>
    <section class="lista-paises">
    <div class="row">
      <div [routerLink]="['/detalhe', p.name.common]" *ngFor="let p of paises" class="card col-6 col-md-3">
        <div style="padding: 0;" class="card-header">
          <img class="card-img-top" [src]="p.flags.png" alt="Imagem do País">
        </div>
        <div class="card-body">
          <h5 class="card-body_name-pais">{{p.name.common}}</h5>
          <ul>
            <li><strong> População:</strong> {{p.population | number}} </li>
            <li><strong>Região</strong> {{p.region}}</li>
            <li *ngFor="let c of p.capital"><strong>Capital:</strong> {{c}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
