.card {
  padding: 0;
  margin: 20px;
  min-width: 200px;
  max-width: 250px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card img {
  height: 150px;
}

.lista-paises {
  width: 100%;
  height: 100%;
}
.card-body_name-pais {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
ul {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.card:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}
